.navbar-default {
	background-color: #000000;
	background-image: none;
	border-color: #000000;
}

#navbar-toggle-custom {
	background-color: #606060;
	background-image: none;
	border-color: #606060;
}
#navbar-toggle-custom span {
	background-color: #424242;
	background-image: none;
}

.navbar-nav {
	margin-left: 3%;
}

#momoNavbar, #momoNavbar ul {
	border-top: 0px;
	background-color: #888888;
	background-image: none;
	border-color: #888888;
}
#momoNavbar li>a {
	color: #333333;
	text-shadow: 1px 1px #aaaaaa;
	font-weight: 900;
	
}
#momoNavbar li>a:hover {
	color: #ffffff;
	text-shadow: 1px 1px #555555;
}
#momoNavbar .caret {
	margin-left: 8px;
}