body {
	background-color: #000000;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../image/general/loader.gif') 50% 50% no-repeat #000000;
	opacity: .9;
}

.fullContain {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

#indexOpen1 {
	background-color: #000000;
}

#doorL {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	height: 100%;
	width: 50%;
}
#doorR {
	position: fixed;
	top: 0px;
	left: 50%;
	z-index: 20;
	height: 100%;
	width: 50%;
}
.doorLock {
	position: fixed;
	top: 25%;
	left: 50%;
	z-index: 21;
	margin-left: -25%;
	width: 50%;
	height: 50%;
}
#lock1 {
	cursor: pointer;
}
#lock6 {
	position: fixed;
	top: 18.59%;
	left: 50%;
	z-index: 21;
	margin-left: -31.41%;
	height: 62.82%;
	width: 62.82%;
}
#smoke {
	position: fixed;
	top: 5%;
	left: 50%;
	z-index: 21;
	margin-left: -45%;
	width: 90%;
	height: 90%;
}

#gearG1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 60%;
	width: 60%;
}
#bkGear1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
}
#gearG2 {
	position: fixed;
	top: 45%;
	left: 45%;
	z-index: 10;
	height: 60%;
	width: 60%;
}
 #bkGear2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
}
#gearU1 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	min-width: 30%;
	max-width: 30%;
	height: auto;
}
#gearU2 {
	position: fixed;
	top: 5%;
	left: 55%;
	z-index: 10;
	min-width: 30%;
	max-width: 30%;
	height: auto;
}
#gearU3 {
	position: fixed;
	top: 10%;
	left: 40%;
	z-index: 10;
	min-width: 30%;
	max-width: 30%;
	height: auto;
}
#gearU4 {
	position: fixed;
	top: 12%;
	left: 80%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearU5 {
	position: fixed;
	top: -2%;
	left: -2%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearU6 {
	position: fixed;
	top: -2%;
	left: 70%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearU7 {
	position: fixed;
	top: 2%;
	left: 32%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU8 {
	position: fixed;
	top: 20%;
	left: -8%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU9 {
	position: fixed;
	top: 2%;
	left: 90%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU10 {
	position: fixed;
	top: 18%;
	left: 68%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU11 {
	position: fixed;
	top: -2%;
	left: 20%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU12 {
	position: fixed;
	top: -2%;
	left: 60%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU13 {
	position: fixed;
	top: 26%;
	left: 90%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearU14 {
	position: fixed;
	top: -4%;
	left: 45%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearD1 {
	position: fixed;
	top: 82%;
	left: 45%;
	z-index: 10;
	min-width: 30%;
	max-width: 30%;
	height: auto;
}
#gearD2 {
	position: fixed;
	top: 80%;
	left: 5%;
	z-index: 10;
	min-width: 30%;
	max-width: 30%;
	height: auto;
}
#gearD3 {
	position: fixed;
	top: 70%;
	left: -2%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearD4 {
	position: fixed;
	top: 45%;
	left: 88%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearD5 {
	position: fixed;
	top: 66%;
	left: 24%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearD6 {
	position: fixed;
	top: 58%;
	left: 55%;
	z-index: 10;
	min-width: 25%;
	max-width: 25%;
	height: auto;
}
#gearD7 {
	position: fixed;
	top: 84%;
	left: 28%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD8 {
	position: fixed;
	top: 64%;
	left: 47%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD9 {
	position: fixed;
	top: 64%;
	left: 37%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD10 {
	position: fixed;
	top: 59%;
	left: -4%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD11 {
	position: fixed;
	top: 59%;
	left: 14%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD12 {
	position: fixed;
	top: 50%;
	left: 34%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}
#gearD13 {
	position: fixed;
	top: 40%;
	left: 64%;
	z-index: 10;
	min-width: 20%;
	max-width: 20%;
	height: auto;
}

#indexBK {
	position: fixed;
	background-color: #000000;
	top: 0px;
	left: 0px;
	z-index: -5;
	height: 100%;
	width: 100%;
}
#bkYear {
	position: absolute;
	top: 100%;
	left: 100%;
	margin-top: -37%;
	margin-left: -40%;
	z-index: -1;
	width: 44%;
}

.memeberList {
	text-align: center;
}
@media (min-width: 768px) {
	.memeber {
		margin-top: 20%;
		width: 100%;
	}
	.memeber:hover {
		margin-top: 15%;
		margin-left: -5%;
		width: 110%;
	}
}
@media (max-width: 767px) {
	.memeber {
		margin-top: 10%;
		width: 70%;
	}
	.memeber:hover {
		margin-top: 5%;
		margin-left: -5%;
		width: 80%;
	}
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

#listModal {
	margin-top: 15rem;
}
.modal-content {
	border-radius: 2rem 2rem 2rem 2rem;
	box-shadow: 5rem 1rem 15rem #000000;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: 900;
}
.modal-header {
	background-image: linear-gradient(#000000 60%, #ffbbee 90%, #ffffff 100%);
	border-radius: 2rem 2rem 0px 0px;
	border-bottom: 0px;
}
.modal-header .close {
	color: #ffffff;
	opacity: 1;
}
.modal-title {
	color: #ffffff;
	padding-left: 15px;
	font-size: 4rem;
}
.modal-body {
	background-image: linear-gradient(#ffffff 80%, #ffbbee 95%);
	border-radius: 0px 0px 2rem 2rem;
}
.modal-body .row {
	padding-left: 10px;
}
.modal-body-button {
	margin-top: 5rem;
}
#btn-goto {
	margin-right: 3rem;
}

.link-items {
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 0px;
	text-align: center;
	margin-left: 6%;
	margin-right: 6%;
}
.link-items img {
	width: 100%;
	height: 130px;
	background-color: #ffffff;
	padding: 0.2rem;
}
.link-title {
	color: #ffffff;
	margin-left: 10%;
}
.link-focus:hover {
	box-shadow: 2px 2px 3rem 0.6rem #ffffff;
}
#link-special-info {
	margin-top: 4rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #ffffff;
	text-align: center;
	line-height: 3.2rem;
	font-size: 3rem;
	word-break: break-all;
}
#link-info-title {
	font-size: 3rem;
}

#about-img {
	text-align: center;
	border: white 3px solid;
	border-radius: 99rem;
	overflow: hidden;
}
#about-img img {
	width: 100%;
	position: relative;
}
.about-items {
	margin-top: 3rem;
}
.about-title {
	color: #aaaaaa;
	font-size: 3rem;
	line-height: 3.2rem;
}
@media (min-width: 768px) {
	.about-title {
		float: right;
		word-break: break-all;
	}
	.about-items {
		padding-right: 10%;
	}
	#about-img img {
		top: 0%;
	}
}
@media (max-width: 767px) {
	.about-items {
		text-align: center;
		padding: 1rem;
	}
	#about-img img {
		top: 10%;
	}
}
.about-info {
	color: #aaaaaa;
	font-size: 2rem;
	line-height: 3.2rem;
}
.about-info-img {
	width: 15%;
}