body {
	background-color: #000000;
}

.fullContain {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

#indexBK {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 100%;
	width: 100%;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}