#yearGear {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.showYear {
	position: absolute;
}
#nextYear {
	left: -2%;
	top: 24%;
	width: 15%;
	font-size: 3rem;
	font-family: "Wendy One", "Reggae One", cursive, "Noto Sans TC", sans-serif;
}
#activeYear {
	left: -16%;
	top: 38%;
	width: 15%;
	font-size: 6rem;
	font-family: "Wendy One", "Reggae One", cursive, "Noto Sans TC", sans-serif;
}
#pastYear {
	width: 15%;
	font-size: 3rem;
	font-family: "Wendy One", "Reggae One", cursive, "Noto Sans TC", sans-serif;
}
.showYear a {
	color: white;
	text-shadow: 5px 5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (min-width: 1001px) {
	#yearGear {
		left: 75%;
	}
	#yearGear img {
		width: 30%;
		height: 30%;
	}
	#nextYear {
		left: -4%;
		top: 24%;
	}
	#activeYear {
		left: -14%;
		top: 38%;
	}
	#pastYear {
		left: -7%;
		top: 65%;
	}
}
@media (max-width: 1000px) {
	#yearGear {
		left: 80%;
	}
	#yearGear img {
		width: 25%;
		height: 25%;
	}
	#nextYear {
		left: -5%;
		top: 16%;
	}
	#activeYear {
		left: -18%;
		top: 28%;
	}
	#pastYear {
		left: -12%;
		top: 57%;
	}
}